[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1rc1"
djangorestframework = "==3.11.0"
django-cors-headers = "==3.4.0"

[requires]
python_version = "3.8"
